<div class="attendees-node-page">
    <!-- Getting the items as variable from hook_node_view() -->
    <h1> {{ items.title }} </h1>
    <span class="attendees-body"> {{ items.body|t }} </span>
    <hr>
    <div class="main-table"> {{ items.main_table_render }} </div>
</div>